# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
antiorm=1.2.1=pypi_0
argcomplete=2.0.0=pypi_0
asttokens=2.0.5=pypi_0
async-timeout=4.0.1=pypi_0
asynctest=0.13.0=pypi_0
attrs=21.2.0=pypi_0
base58=2.1.1=pypi_0
bitarray=1.2.2=pypi_0
black=21.11b1=pypi_0
ca-certificates=2021.10.26=h06a4308_2
cached-property=1.5.2=pypi_0
certifi=2021.10.8=py39h06a4308_0
charset-normalizer=2.0.9=pypi_0
click=8.0.3=pypi_0
colorama=0.4.4=pypi_0
cytoolz=0.11.2=pypi_0
dataclassy=0.11.1=pypi_0
ed25519=1.5=pypi_0
eip712=0.1.0=pypi_0
eth-abi=2.1.1=pypi_0
eth-account=0.5.6=pypi_0
eth-brownie=1.17.2=pypi_0
eth-event=1.2.3=pypi_0
eth-hash=0.3.2=pypi_0
eth-keyfile=0.5.1=pypi_0
eth-keys=0.3.3=pypi_0
eth-rlp=0.2.1=pypi_0
eth-typing=2.2.2=pypi_0
eth-utils=1.10.0=pypi_0
execnet=1.9.0=pypi_0
executing=0.8.2=pypi_0
frozenlist=1.2.0=pypi_0
hexbytes=0.2.2=pypi_0
hypothesis=6.27.3=pypi_0
icecream=2.1.1=pypi_0
idna=3.3=pypi_0
importlib-metadata=4.8.2=pypi_0
inflection=0.5.0=pypi_0
iniconfig=1.1.1=pypi_0
ipfshttpclient=0.8.0a2=pypi_0
jsonschema=3.2.0=pypi_0
lazy-object-proxy=1.6.0=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
lru-dict=1.1.7=pypi_0
multiaddr=0.0.9=pypi_0
multidict=5.2.0=pypi_0
mypy-extensions=0.4.3=pypi_0
mythx-models=1.9.1=pypi_0
ncurses=6.3=h7f8727e_2
near-api-py=0.1.0=pypi_0
netaddr=0.8.0=pypi_0
openssl=1.1.1l=h7f8727e_0
packaging=21.3=pypi_0
parsimonious=0.8.1=pypi_0
pathspec=0.9.0=pypi_0
pip=21.2.4=py39h06a4308_0
pipx=1.0.0=pypi_0
platformdirs=2.4.0=pypi_0
pluggy=1.0.0=pypi_0
prompt-toolkit=3.0.23=pypi_0
protobuf=3.19.1=pypi_0
psutil=5.8.0=pypi_0
py=1.11.0=pypi_0
py-solc-ast=1.2.9=pypi_0
py-solc-x=1.1.1=pypi_0
pycryptodome=3.12.0=pypi_0
pygments=2.10.0=pypi_0
pygments-lexer-solidity=0.7.0=pypi_0
pyjwt=1.7.1=pypi_0
pyparsing=3.0.6=pypi_0
pyrsistent=0.18.0=pypi_0
pytest=6.2.5=pypi_0
pytest-forked=1.3.0=pypi_0
pytest-xdist=1.34.0=pypi_0
python=3.9.7=h12debd9_1
python-dateutil=2.8.1=pypi_0
python-dotenv=0.16.0=pypi_0
pythx=1.6.1=pypi_0
pyyaml=5.4.1=pypi_0
readline=8.1.2=h7f8727e_0
regex=2021.11.10=pypi_0
requests=2.26.0=pypi_0
rlp=2.0.1=pypi_0
semantic-version=2.8.5=pypi_0
setuptools=58.0.4=py39h06a4308_0
six=1.16.0=pypi_0
sortedcontainers=2.4.0=pypi_0
sqlite=3.37.0=hc218d9a_0
tk=8.6.11=h1ccaba5_0
toml=0.10.2=pypi_0
tomli=1.2.2=pypi_0
toolz=0.11.2=pypi_0
tqdm=4.62.3=pypi_0
typed-ast=1.5.1=pypi_0
typing-extensions=3.10.0.2=pypi_0
tzdata=2021e=hda174b7_0
urllib3=1.26.7=pypi_0
userpath=1.7.0=pypi_0
varint=1.0.2=pypi_0
vvm=0.1.0=pypi_0
vyper=0.3.1=pypi_0
wcwidth=0.2.5=pypi_0
web3=5.25.0=pypi_0
websockets=9.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wrapt=1.13.3=pypi_0
xz=5.2.5=h7b6447c_0
yarl=1.7.2=pypi_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h7f8727e_4
